.calculator
  position: relative
  z-index: 5
  padding-top: rem(20)

  &__calculator
    max-width: rem(1430)
    margin: rem(40) auto
    min-height: calc( +200px )
    @include lg
      max-width: rem(1050)

    @include md
      max-width: rem(800)

    @include sm
      max-width: 100%

    &-wrap
      padding: 0 rem(15)

      @include sm
        padding: 0

    &-top
      @include aife-jfcsb

      @include md
        flex-direction: column-reverse
        align-items: flex-start

    &-tabs-wrap
      position: relative
      width: 100%
      margin-top: rem(20)

    &-tabs
      @include aistr
      padding: 0

      @include md
        flex-direction: column

      

    &-tab
      background: #F8F8F8
      border-radius: rem(8) rem(8) 0 0
      transition: $tr
      font-size: rem(15)
      font-weight: 500
      color: $textcolor
      @include aic
      padding: rem(10) rem(24)
      cursor: pointer
      text-align: center
      position: relative

      @include lg
        padding: rem(7) rem(10)
        font-size: rem(14)

      @include md
        font-size: rem(15)
        padding: rem(10) rem(24)
        border-radius: rem(8)

      &:last-child
        margin-right: 0
        margin-bottom: 0

      .icon
        margin-right: rem(10)
        min-width: rem(24)
        max-width: rem(24)

        @include lg
          min-width: rem(20)
          max-width: rem(20)
          height: rem(20)
          margin-right: rem(5)

        @include xs
          min-width: rem(24)
          max-width: rem(24)
          height: rem(24)

        svg
          path
            stroke: $textcolor
            transition: $tr

      .arrow
        position: absolute
        right: rem(24)
        top: 50%
        transform: translateY(-50%)
        transition: $tr
        display: none
        
        @include md
          @include aic-jcc


        svg
          path
            transition: $tr      

      &:hover
        background-color: $mc
        color: $wc

        .arrow,
        .icon
          svg
            path
              stroke: $wc

    &-switch
      @include aistr

      @include xs
        width: 100%

      &-item
        transition: $tr
        @include aic-jcc
        text-align: center
        color: $textcolor
        font-size: rem(15)
        padding: rem(10) rem(25)
        cursor: pointer
        font-weight: 500
        border-radius: rem(8) rem(8) 0 0
        margin-right: rem(8)
        white-space: nowrap

        @include xs
          width: 100%
          max-width: 50%
          font-size: rem(12)
          padding: rem(10) rem(12)

        &:last-child
          margin-right: 0

        &:hover,
        &--active
          background: $wc
          color: $mc
          box-shadow: 0px -5px 8px 0px rgba(0, 0, 0, 0.10)

    &-bottom
      background-color: $wc
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15)
      border-radius: rem(40)
      padding: rem(40) 0
      display: none
      position: absolute
      width: 1310px
      top: 100%
      left: 0
      z-index: 1

      @include lg
        padding: rem(30) 0
        border-radius: rem(35)

      @include md
        padding: rem(20)  
        position: relative
        left: auto!important
        top: auto!important
        width: auto!important
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15)
        border-radius:  0 0 rem(20) rem(20)
        padding-left: 0
        padding-right: 0

        
    &-calculation
      @include jfcsb

      @include md
        flex-wrap: wrap
        justify-content: center

      .btn
        margin-left: rem(24)
        white-space: nowrap

        @include lg
          margin-left: 0

    &-calculation-col
      margin-right: rem(24)
      width: 100%

      @include lg
        margin-right: rem(15)

      @include md
        margin-bottom: rem(24)
        margin-right: 0

      &:first-child
        margin-right: 0

        @include lg
          margin-right: rem(15)

        @include md
          margin-right: 0  

      &:nth-last-child(2)
        margin-right: 0

        @include lg
          margin-right: rem(15)

        @include md
          margin-bottom: rem(24)  
          margin-right: 0

      &--select
        max-width: 84.5%

        @include md
          max-width: 79%

        @include sm
          max-width: 72.2%

        @include xs
          max-width: 100%

      &_phone-select

        @include aic

        .select
          max-width: rem(100)
          margin: 0 rem(24)

          @include lg
            margin-left: 0
            margin-right: rem(15)

          @include xs
            margin-right: rem(5)

    &-city-list
      padding: 0
      margin: 0
      margin-top: rem(5)

      li
        list-style: none
        display: inline-block
        margin-right: rem(5)

        &:last-child
          margin-right: 0

        a
          text-decoration: underline
          font-size: rem(15)
          color: $textcolor

          @include lg
            font-size: rem(12)

          &:hover
            color: $mc

  

  .btn-switch
    cursor: pointer
    margin: 0 rem(8)

    // @include lg
    //   transform: translateY(-20px) rotate(90deg)
    @include lg
      display: none
      
    @include xs
      display: none

    &:hover
      .icon
        transition: $tr
        transform: scale(1.1)

  &--gradient
    .calculator__calculator-wrap
      padding: 0
      
    .calculator__calculator
      max-width: 100%

      .calculator__calculator-bottom
        border-radius: 0
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15)
        background: linear-gradient(180deg, #009688 0%, #81C784 100%)

      .calculator__calculator-city-list
        li
          a
            color: $wc
            &:hover
              color: $bc

    // .not-empty .label,
    // .label.active,
    // .label.active1
    //   color: $wc!important

    .tab_content_select
      .not-empty .label,
      .label.active,
      .label.active1
        color: $mc

    .active1,
    .open .label,
    .not-empty .label
      color: $wc

    .btn
      background: $sc

      &:hover
        background: $bc

  
.calculator__calculator-tab-wrap
  margin-right: rem(10)

  @include md
    margin-right: 0
    margin-bottom: rem(10)

  &:last-child
    margin-bottom: 0

  &.open-tab
    .calculator__calculator-tab
      border-radius: rem(8) rem(8) 0 0
      background: $mc
      color: $wc
      svg
        path
          stroke: $wc
      .arrow
        transform: translateY(-50%) rotate(180deg)
    .calculator__calculator-bottom
      display: block

  .input__search-dropdown-wrap,
  .select__dropdown
    z-index: 2      


