.advantages
  .container
    h2.title Преимущества
    .advantages__slider.slider
      .slider__nav
        .swiper-button-prev.slider__nav-item
        .swiper-button-next.slider__nav-item
          
      .swiper.advantages-slider
        

        .swiper-wrapper
          
          each slide,index in ['Оценочная стоимость, как страховка от повреждений','Удобный личный кабинет и интеграция готовых модулей','Собственные склады, транспорт и курьерские службы','Гибкие тарифы с возможностью постоплаты']
            .swiper-slide.advantages__slider-item.typical-block
              .advantages__slider-icon.icon

                if index == 0
                  svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M30.773 8.95613L48.0077 13.552C48.4454 13.6688 48.75 14.0652 48.75 14.5183V35.5389C48.75 37.545 47.7474 39.4184 46.0782 40.5312L30.5547 50.8802C30.2188 51.1041 29.7812 51.1041 29.4453 50.8802L13.9218 40.5312C12.2526 39.4184 11.25 37.545 11.25 35.5389V14.5183C11.25 14.0652 11.5546 13.6688 11.9923 13.552L29.227 8.95613C29.7335 8.82107 30.2665 8.82107 30.773 8.95613Z' stroke='#009688' stroke-width='3' stroke-linecap='round')
                    path(d='M23.75 28.75L28.5732 33.5732C28.6709 33.6709 28.8291 33.6709 28.9268 33.5732L37.5 25' stroke='#009688' stroke-width='3' stroke-linecap='round')
                  
                else if index == 1
                  svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M9 20C9 17.6006 9.00319 15.9519 9.16968 14.7135C9.33038 13.5183 9.61805 12.9322 10.0251 12.5251C10.4322 12.118 11.0183 11.8304 12.2135 11.6697C13.4519 11.5032 15.1006 11.5 17.5 11.5H42.5C44.8994 11.5 46.5481 11.5032 47.7865 11.6697C48.9817 11.8304 49.5678 12.118 49.9749 12.5251C50.382 12.9322 50.6696 13.5183 50.8303 14.7135C50.9968 15.9519 51 17.6006 51 20V41H9V20Z' stroke='#009688' stroke-width='3')
                    path(d='M9.16667 41C7.41777 41 6 42.4178 6 44.1667C6 46.836 8.16396 49 10.8333 49H49.1667C51.836 49 54 46.836 54 44.1667C54 42.4178 52.5822 41 50.8333 41H9.16667Z' stroke='#009688' stroke-width='3')

                else if index == 2
                  svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M7.5 17.5L25 7.5L52.5 17.5M7.5 17.5V30L35 40L52.5 30V17.5M7.5 17.5L35 27.5L52.5 17.5' stroke='#009688' stroke-width='3' stroke-linejoin='round')
                    path(d='M7.5 30V42.5L35 52.5L52.5 42.5V30' stroke='#009688' stroke-width='3' stroke-linejoin='round')

                else if index == 3
                  svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M47.6195 12.3805C47.3655 12.4601 47.0581 12.5618 46.6796 12.6879L16.8585 22.6283C14.4599 23.4279 12.8114 23.9808 11.7457 24.4992C11.2747 24.7283 11.0321 24.8967 10.911 25C11.0321 25.1033 11.2747 25.2717 11.7457 25.5008C12.8114 26.0192 14.4599 26.5721 16.8585 27.3717L26.077 30.4445C26.1375 30.4647 26.1986 30.4848 26.2601 30.5051C26.9998 30.7489 27.8001 31.0126 28.3937 31.6063C28.9874 32.1999 29.2511 33.0002 29.4949 33.7399C29.5152 33.8014 29.5353 33.8625 29.5555 33.923L32.6283 43.1415C33.4279 45.5401 33.9808 47.1886 34.4992 48.2543C34.7283 48.7253 34.8967 48.9679 35 49.089C35.1033 48.9679 35.2717 48.7253 35.5008 48.2543C36.0192 47.1886 36.5721 45.5401 37.3717 43.1415L47.3121 13.3204C47.4382 12.9419 47.5399 12.6345 47.6195 12.3805ZM48.5296 12.1576C48.5295 12.1577 48.5263 12.1578 48.5204 12.1577C48.5268 12.1574 48.5297 12.1574 48.5296 12.1576ZM47.8423 11.4796C47.8422 11.4737 47.8423 11.4705 47.8424 11.4704C47.8426 11.4703 47.8426 11.4732 47.8423 11.4796ZM34.8794 49.2018C34.8794 49.2011 34.8842 49.1977 34.8939 49.1935C34.8843 49.2003 34.8795 49.2024 34.8794 49.2018ZM35.1061 49.1936C35.1158 49.1977 35.1206 49.2011 35.1206 49.2017C35.1205 49.2024 35.1157 49.2003 35.1061 49.1936ZM10.7983 24.8794C10.7989 24.8794 10.8023 24.8842 10.8065 24.8939C10.7997 24.8843 10.7976 24.8795 10.7983 24.8794ZM10.8065 25.1061C10.8023 25.1158 10.7989 25.1206 10.7983 25.1206C10.7976 25.1205 10.7997 25.1157 10.8065 25.1061ZM47.8599 9.2218C48.4521 9.11645 49.4258 9.05254 50.1866 9.81337C50.9475 10.5742 50.8835 11.5478 50.7782 12.1401C50.6753 12.7185 50.4383 13.4289 50.1899 14.1738L50.1581 14.2691L40.2178 44.0901L40.1791 44.2061C39.4275 46.4609 38.8143 48.3009 38.1985 49.5667C37.6335 50.7281 36.7117 52.1754 35 52.1754C33.2883 52.1754 32.3665 50.7281 31.8015 49.5667C31.1857 48.3009 30.5725 46.4611 29.821 44.2063L29.7822 44.0901L26.7094 34.8717C26.5461 34.3816 26.4527 34.1059 26.3659 33.9062C26.3271 33.8169 26.301 33.7706 26.2866 33.7477C26.2798 33.7369 26.2757 33.7316 26.2743 33.7298L26.2724 33.7276L26.2702 33.7257C26.2684 33.7243 26.2631 33.7202 26.2523 33.7134C26.2294 33.699 26.1831 33.6729 26.0938 33.6341C25.8941 33.5473 25.6184 33.4539 25.1283 33.2906L15.9099 30.2178L15.7938 30.1791C13.539 29.4275 11.6991 28.8143 10.4333 28.1985C9.2719 27.6335 7.82455 26.7117 7.82455 25C7.82455 23.2883 9.2719 22.3665 10.4333 21.8015C11.6991 21.1857 13.539 20.5725 15.7937 19.821L15.9099 19.7822L45.7309 9.84188L45.8262 9.81012C46.5711 9.56166 47.2815 9.32471 47.8599 9.2218Z' fill='#009688')


              .advantages__slider-name=slide
          
      
          

