.delivery-kind
  .container 
    .title-wrap
        h2.title
          span Доставка <br>
          | вашей посылки
      
        .text 
          p Мы предоставляем все возможности для <br> упрощения и ускорения доставки вашей <br> посылки. Alay Express подарит вам лучшее!

    .delivery-kind__wrap 

      each kind, index in deliveryKind
        .delivery-kind__item.typical-block
          .delivery-kind__item-img 
            img(src="images/dist/delivery-kind"+(index+1)+".webp", alt="")
          .delivery-kind__item-mask 
            svg( viewBox='0 0 406 519' fill='none' xmlns='http://www.w3.org/2000/svg')
              path(d='M64 0C41.5979 0 30.3968 0 21.8404 4.35974C14.3139 8.19467 8.19467 14.3139 4.35974 21.8404C0 30.3968 0 41.5979 0 64V455C0 477.402 0 488.603 4.35974 497.16C8.19467 504.686 14.3139 510.805 21.8404 514.64C30.3968 519 41.5979 519 64 519H341.333C363.735 519 374.936 519 383.493 514.64C391.019 510.805 397.139 504.686 400.974 497.16C405.333 488.603 405.333 477.402 405.333 455V64C405.333 41.5979 405.333 30.3968 400.974 21.8404C397.139 14.3139 391.019 8.19467 383.493 4.35974C374.936 0 363.735 0 341.333 0H64ZM358.535 345.605C358.532 345.62 358.517 345.628 358.503 345.623V345.623C358.494 345.62 358.484 345.623 358.478 345.629C354.597 349.734 348.134 351.983 341.911 351.093C335.442 350.164 330.537 346.255 329.528 341.14C321.578 301.177 295.687 269.311 255.798 244.192C215.497 218.804 169.115 206.304 117.224 207.196C97.8342 207.525 78.7257 209.622 60.618 215.546C52.9001 218.062 44.4295 215.246 41.0214 209.367C37.6795 203.571 40.4837 196.98 48.1437 193.887C70.3129 184.923 92.598 176.108 114.817 167.233C122.469 164.178 130.236 161.279 137.755 158.044C144.663 155.071 150.9 155.707 157.46 158.801C203.957 180.646 250.554 202.41 297.118 224.189C314.266 232.209 331.339 240.313 348.611 248.184C355.055 251.12 357.876 255.141 358 260.908C358.521 286.566 359.349 312.231 359.911 337.897C359.961 340.471 359.025 343.038 358.535 345.605ZM364.171 165.848C363.94 177.029 351.747 182.309 339.355 176.617C323.564 169.375 307.797 162.133 292.146 154.711C284.668 151.169 282.666 144.107 287.084 138.482C291.286 133.15 299.996 131.263 307.218 134.154C310.411 135.442 313.438 137.029 316.698 138.145C323.928 140.647 331.827 137.666 332.638 131.66C333.457 125.751 333.689 119.677 332.944 113.753C332.1 107.215 323.919 104.212 316.466 107.357C300.708 114.038 284.949 120.741 269.447 127.765C255.12 134.266 253.342 149.581 265.617 158.299C268.24 160.179 271.242 161.796 274.295 163.227C300.824 175.569 327.418 187.836 353.997 200.163C361.499 203.638 364.817 209.143 362.724 214.378C359.531 222.331 349.058 225.529 339.479 221.305C330.959 217.531 322.596 213.531 314.142 209.637C298.27 202.299 282.423 194.984 266.552 187.653C266.496 187.627 266.476 187.558 266.511 187.507V187.507C242.886 176.595 219.261 165.706 195.685 154.741C193.195 153.588 190.656 152.225 188.844 150.517C182.673 144.653 185.146 136.565 194.386 132.551C216.613 122.89 238.94 113.364 261.241 103.778C287.671 92.4165 314.092 81.0404 340.546 69.6943C354.121 63.8827 365.884 69.3123 365.702 81.3475C365.255 109.514 364.759 137.689 364.171 165.848ZM266.545 187.496C266.54 187.487 266.528 187.485 266.522 187.493L266.511 187.507C266.511 187.507 266.518 187.51 266.527 187.514C266.538 187.519 266.55 187.507 266.545 187.496V187.496Z' fill='#F8F8F8')
          
          .delivery-kind__item-info
            .delivery-kind__item-kind=kind.kindName
            .delivery-kind__item-name=kind.name
            .delivery-kind__item-desc=kind.desc