.hero 
  .container
    .hero__top
      .title-wrap
        h1.title
          | Мы 
          span Доставим <br>
          | Вашу 
          span Посылку! 
      
        .text 
          p Доверьте нам свою посылку, нам доверяет <br> весь мир.  ваша посылка должна быть в <br> безопасности! 

    .hero__bottom
      a.btn.btn--empty(href="#calculator" data-scroll)
        .icon
          svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M21 19.5C21 18.6716 20.3284 18 19.5 18C18.6716 18 18 18.6716 18 19.5C18 20.3284 18.6716 21 19.5 21C20.3284 21 21 20.3284 21 19.5Z' stroke='#009688' stroke-width='1.5')
            path(d='M13.5 19.5C13.5 18.6716 12.8284 18 12 18C11.1716 18 10.5 18.6716 10.5 19.5C10.5 20.3284 11.1716 21 12 21C12.8284 21 13.5 20.3284 13.5 19.5Z' stroke='#009688' stroke-width='1.5')
            path(d='M6 19.5C6 18.6716 5.32843 18 4.5 18C3.67157 18 3 18.6716 3 19.5C3 20.3284 3.67157 21 4.5 21C5.32843 21 6 20.3284 6 19.5Z' stroke='#009688' stroke-width='1.5')
            path(d='M21 12C21 11.1716 20.3284 10.5 19.5 10.5C18.6716 10.5 18 11.1716 18 12C18 12.8284 18.6716 13.5 19.5 13.5C20.3284 13.5 21 12.8284 21 12Z' stroke='#009688' stroke-width='1.5')
            path(d='M21 4.5C21 3.67157 20.3284 3 19.5 3C18.6716 3 18 3.67157 18 4.5C18 5.32843 18.6716 6 19.5 6C20.3284 6 21 5.32843 21 4.5Z' stroke='#009688' stroke-width='1.5')
            path(d='M13.5 12C13.5 11.1716 12.8284 10.5 12 10.5C11.1716 10.5 10.5 11.1716 10.5 12C10.5 12.8284 11.1716 13.5 12 13.5C12.8284 13.5 13.5 12.8284 13.5 12Z' stroke='#009688' stroke-width='1.5')
            path(d='M13.5 4.5C13.5 3.67157 12.8284 3 12 3C11.1716 3 10.5 3.67157 10.5 4.5C10.5 5.32843 11.1716 6 12 6C12.8284 6 13.5 5.32843 13.5 4.5Z' stroke='#009688' stroke-width='1.5')
            path(d='M6 12C6 11.1716 5.32843 10.5 4.5 10.5C3.67157 10.5 3 11.1716 3 12C3 12.8284 3.67157 13.5 4.5 13.5C5.32843 13.5 6 12.8284 6 12Z' stroke='#009688' stroke-width='1.5')
            path(d='M6 4.5C6 3.67157 5.32843 3 4.5 3C3.67157 3 3 3.67157 3 4.5C3 5.32843 3.67157 6 4.5 6C5.32843 6 6 5.32843 6 4.5Z' stroke='#009688' stroke-width='1.5')
        | Калькулятор 

      .hero__advantages 
      

        .hero__advantages-item.counter-item.counter-item--active 
          .counter-item__counter  
            .counter(data-count="5") 0
          | лет опыта 

        .hero__advantages-item.counter-item
          .counter-item__counter 
            .counter(data-count="18") 0
            span K+
          | Успешных сделок 

        .hero__advantages-item.counter-item
          .counter-item__counter  
            .counter(data-count="20") 0
            span K+
          | транспортных средств 

      .hero__effect
        .hero__effect-img 
          img(src="images/dist/hero.webp", alt="")
        svg(viewBox='0 0 1272 530' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M10 481.743C310.384 518.623 446.486 468.822 640.5 273.695C847.252 75.2259 985.477 31.1926 1271 65.6461' stroke='#DEE7EE')
          path(d='M10 463.743C310.384 500.623 446.486 450.822 640.5 255.695C847.252 57.2259 985.477 13.1926 1271 47.6461' stroke='#DEE7EE' stroke-width='3')
          path(d='M10 463.743C310.384 500.623 446.486 450.822 640.5 255.695C847.252 57.2259 985.477 13.1926 1271 47.6461' stroke='#DEE7EE' stroke-width='3')
          path(d='M10 481.743C310.384 518.623 446.486 468.822 640.5 273.695C847.252 75.2259 985.477 31.1926 1271 65.6461' stroke='#DEE7EE' stroke-opacity='0.75')
          path(d='M10 445.743C310.384 482.623 446.486 432.822 640.5 237.695C847.252 39.2259 985.477 -4.80742 1271 29.6461' stroke='#DEE7EE' stroke-opacity='0.75')
          path(opacity='0.5' d='M10 427.743C310.384 464.623 446.486 414.822 640.5 219.695C847.252 21.2259 985.477 -22.8074 1271 11.6461' stroke='#DEE7EE')
          path(opacity='0.5' d='M10 499.743C310.384 536.623 446.486 486.822 640.5 291.695C847.252 93.2259 985.477 49.1926 1271 83.6461' stroke='#DEE7EE')
          path(d='M10 517.743C310.384 554.623 446.486 504.822 640.5 309.695C847.252 111.226 985.477 67.1926 1271 101.646' stroke='#DEE7EE' stroke-opacity='0.25')
          path.hero__effect-line(d='M10 463.743C310.384 500.623 446.486 450.822 640.5 255.695C773.384 128.134 877.961 64.3695 1011.53 44.237' stroke='#009688' stroke-width='3')
          circle(cx='10' cy='464' r='8.5' fill='white' stroke='#009688' stroke-width='3')

        .hero__effect-runner 
          svg.arrow-runner(width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg')
            g(clip-path='url(#clip0_12_36)')
              path(d='M10.1745 10.4482C8.69195 10.7005 7.62278 12.0098 7.60303 13.5136C7.56385 16.4975 7.88389 19.3072 8.59313 22.2059C8.95054 23.6666 10.2868 24.702 11.7881 24.6145C15.8641 24.3767 19.8161 23.8833 23.8672 23.1091C24.2677 23.0325 24.6338 22.8394 24.9157 22.5448C26.1627 21.2423 29.6486 17.4047 29.4237 15.4306C29.1989 13.4565 24.9393 10.5012 23.4313 9.51248C23.0903 9.28889 22.6902 9.18305 22.2827 9.19853C18.1612 9.35514 14.1996 9.76322 10.1745 10.4482Z' fill='white' stroke='#009688' stroke-width='3')
            defs
              clippath#clip0_12_36
                rect(width='24' height='24' fill='white' transform='translate(14.9409) rotate(38.5018)')

          svg.circle-runner(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
            circle(cx='10' cy='10' r='8.5' fill='white' stroke='#009688' stroke-width='3')
