.info-block
  .info-block__wrap
    .container 
      .info-block__col-wrap
        .info-block__img 
          img(src="images/dist/info-block.webp", alt="")

        .info-block__title Наша курьерская служба работает <br>
          | в Кыргызстане, и по всему миру! 