.menu 
  .menu__wrap 

    a.btn(href="#").login-js
      .icon 
        svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M7.3527 14.9839C6.14016 15.7059 2.96094 17.1802 4.89729 19.025C5.84319 19.9261 6.89668 20.5706 8.22116 20.5706H15.779C17.1034 20.5706 18.1569 19.9261 19.1028 19.025C21.0392 17.1802 17.86 15.7059 16.6474 14.9839C13.804 13.2908 10.1961 13.2908 7.3527 14.9839Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
          path(d='M15.8569 7.2861C15.8569 9.41614 14.1301 11.1429 12.0001 11.1429C9.87005 11.1429 8.14331 9.41614 8.14331 7.2861C8.14331 5.15606 9.87005 3.42932 12.0001 3.42932C14.1301 3.42932 15.8569 5.15606 15.8569 7.2861Z' stroke='white' stroke-width='1.5')

      | Вход / Регистрация

    .header__log(style="display:none")
      .header__log-name 
        a(href="#") Name Name 
        | /
      a(href="#") 
        .icon
          svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1')
            g(id='Iconly/Curved/Logout' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round')
              g#Logout(transform='translate(2.000000, 2.000000)' stroke='#000000' stroke-width='1.5')
                line#Stroke-1(x1='19.791' y1='10.1207' x2='7.75' y2='10.1207')
                polyline#Stroke-3(points='16.8643 7.2047 19.7923 10.1207 16.8643 13.0367')
                path#Stroke-4(d='M0.2588,5.6299 C0.5888,2.0499 1.9288,0.7499 7.2588,0.7499 C14.3598,0.7499 14.3598,3.0599 14.3598,9.9999 C14.3598,16.9399 14.3598,19.2499 7.2588,19.2499 C1.9288,19.2499 0.5888,17.9499 0.2588,14.3699' transform='translate(7.309300, 9.999900) scale(-1, 1) translate(-7.309300, -9.999900) ')

    
    

    .menu__nav
      ul 
        each nav in ['Отправить посылку','Интернет-магазинам','Бизнес клиентам','О компании','Контакты']
          li 
            a(href="#")=nav
      
    //- .header__user-panel-item
              
    //-   .header__user-panel-icon.icon 
    //-     svg(width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg')
    //-       path(d='M4.95408 11.9505C4.14156 10.5338 3.74924 9.37689 3.51268 8.2042C3.16281 6.46982 3.96347 4.7756 5.28984 3.69456C5.85041 3.23767 6.49302 3.39377 6.82451 3.98847L7.57288 5.33106C8.16606 6.39524 8.46265 6.92733 8.40382 7.49145C8.345 8.05556 7.94501 8.51501 7.14503 9.43391L4.95408 11.9505ZM4.95408 11.9505C6.59868 14.8182 9.17958 17.4005 12.0506 19.047M12.0506 19.047C13.4673 19.8596 14.6242 20.2519 15.7969 20.4884C17.5313 20.8383 19.2255 20.0376 20.3066 18.7113C20.7634 18.1507 20.6073 17.5081 20.0126 17.1766L18.6701 16.4282C17.6059 15.8351 17.0738 15.5385 16.5097 15.5973C15.9456 15.6561 15.4861 16.0561 14.5672 16.8561L12.0506 19.047Z' stroke='#2A353D' stroke-width='1.5' stroke-linejoin='round')
    //-   div
    //-     .header__user-panel-label Горячая линия
    //-     a(href="tel:+996505907730") +996 505 907 730