.online-shopping-tracking
  .container 
    .online-shopping-tracking__wrap

      .online-shopping-tracking__item.typical-block
        h3.title.title--h3
          span Выгодная доставка для <br>
          | интернет-магазинов

        p Доставка курьером или в пункты выдачи и в отделениях Alay Express  

        span.online-shopping-tracking__message Услуга доступна зарегистрированным пользователям

      .online-shopping-tracking__item.typical-block
        h3.title.title--h3
          span Отправляй сейчас,<br>
          | плати потом

        p Удобная доставка для интернет-<br>магазинов 

        span.online-shopping-tracking__message Услуга доступна зарегистрированным пользователям


      .online-shopping-tracking__item.typical-block.typical-block--painted
        form(action="#") 
          .online-shopping-tracking__tracking-form
            h3.title.title--h3 Отследить <br> посылку

            span Введите трек-номер <br> отправления для <br> отслеживания
            .online-shopping-tracking__tracking-input
              input(type="text" placeholder="Номер отправления")
              button(type="submit")
                svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                  path(d='M7 2L17 12L7 22' stroke='white' stroke-width='2')

