.seo-text
  .container 
    .seo-text__wrap
      .seo-text__desc SEO—текст/статья ― это оптимизированный текст для роботов поисковых систем («Яндекс» и Google). Информация должна содержать ключевые слова и отвечать на запрос пользователя. SEO—текст ― контент, который предназначен для интернет-магазинов. SEO—текст ― контент, который предназначен для интернет-магазинов. SEO—текст/статья ― это оптимизированный текст для роботов поисковых систем («Яндекс» и Google). Информация должна содержать ключевые слова и отвечать на запрос пользователя. SEO—текст ― контент, который предназначен для интернет-магазинов. SEO—текст ― контент, который предназначен для интернет-магазинов. 
      .seo-text__btn 
        span.open-text Читать полностью
        span.close-text Скрыть
        .icon 
          svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M24 20L16 12L8 20' stroke='#37474F' stroke-width='1.5')

