.seo-text
  .container 
    .seo-text__wrap
      .seo-text__desc
        .seo-text__short
          p
            strong
              span.ql-cursor
              | Добро пожаловать в Alay Express
          p
            span
              | Alay Express - ваш надежный партнер в мире курьерских услуг. Мы обеспечиваем быструю и безопасную доставку документов и грузов по всему миру, включая Россию, Казахстан, Белоруссию и Армению...
          

        .seo-text__long
          p
            strong
              span.ql-cursor
              | Добро пожаловать в Alay Express
          p
            span
              | Alay Express - ваш надежный партнер в мире курьерских услуг. Мы обеспечиваем быструю и безопасную доставку документов и грузов по всему миру, включая Россию, Казахстан, Белоруссию и Армению.
          
          p
            span Быстрая и надежная доставка в Бишкеке и за его пределами
          p
            span
              | С нашей уникальной курьерской службой в Бишкеке, вы можете быть уверены, что ваша посылка достигнет своего назначения вовремя и в целости. Мы в Alay Express специализируемся на срочной доставке и экспресс-доставке, обеспечивая вам быстрый и эффективный сервис, на который вы можете положиться.
          
          p
            span Международная доставка в Россию, Казахстан, Белоруссию и Армению
          p
            span
              | Нужно отправить документы или груз в Россию, Казахстан, Белоруссию или Армению? Наша экспресс-доставка обеспечивает быструю и надежную доставку в эти страны. Мы в Alay Express понимаем, как важно, чтобы ваши документы или грузы доставлялись вовремя и без проблем, поэтому мы предлагаем качественные услуги доставки по всему миру.
          
          p
            span Почему выбирают нас
          p
            span Клиенты выбирают Alay Express за надежность, быстроту и отличное обслуживание.
          
          p
            span
              | Надежность - Мы понимаем, что каждая посылка имеет большое значение. Будь то документы или груз, мы гарантируем, что ваша посылка будет доставлена в целости и сохранности.
          
          p
            span
              | Быстрота - Наша экспресс-доставка обеспечивает быстрое и своевременное доставление вашего груза, независимо от его назначения. Важно ли вам быстро доставить документы в Россию, Казахстан, Белоруссию или Армению? Мы готовы помочь.
          
          p
            span
              | Отличное обслуживание - Наша команда профессионалов всегда готова идти на дополнительные усилия, чтобы обеспечить вашу полную удовлетворенность. В Alay Express мы ценим каждого клиента и стремимся обеспечить безупречное обслуживание на каждом этапе процесса доставки.
          
          p
            span
              | Свяжитесь с нами сегодня, чтобы узнать больше о том, почему Alay Express является лучшим выбором для всех ваших потребностей в доставке.

      .seo-text__btn 
        span.open-text Читать полностью
        span.close-text Скрыть
        .icon 
          svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
            path(d='M24 20L16 12L8 20' stroke='#37474F' stroke-width='1.5')

