extends layouts/main
block title
  | О нас
block main
  .wrapper
    .content
        include includes/login-popup
        include includes/mmenu
        include includes/header

        .about 
          .container 
            .about__wrap 
              .about__col
                .about__desc
                  h2.title 
                    span O 
                    | компании   
                  p Добро пожаловать в компанию, созданную делать логистику конкурентным преимуществом для бизнеса и удовольствием для людей. Мы ценим время наших клиентов, партнеров и свое собственное, поэтому держим слово, общаемся просто, работаем быстро и качественно.  
                
                  
                .about__bg 
                  svg(width='176' height='173' viewBox='0 0 176 173' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(d='M175.063 169.365C173.567 172.183 169.524 173.367 166.122 172.9C162.604 172.416 159.876 170.082 159.268 166.98C154.436 142.732 139.972 123.638 117.98 108.796C95.758 93.8042 70.3968 86.7334 42.2085 87.8674C31.6728 88.301 21.3179 89.8019 11.5548 93.6041C7.39639 95.2217 2.76135 93.604 0.821869 90.0687C-1.06831 86.5833 0.378089 82.531 4.5036 80.5632C16.4364 74.8432 28.4349 69.2233 40.4005 63.5534C44.526 61.6022 48.7008 59.7512 52.7442 57.6833C56.4588 55.7989 59.8611 56.099 63.4606 57.9168C89.0027 70.6908 114.594 83.3982 140.185 96.1222C149.603 100.808 158.988 105.544 168.472 110.13C172.022 111.831 173.6 114.266 173.732 117.768C174.34 133.394 175.112 149.003 175.753 164.628C175.819 166.196 175.885 167.764 175.08 169.348L175.063 169.365Z' fill='#E0E0E0')
                    path(d='M123.108 74.1762C110.123 67.8058 97.1387 61.4355 84.1869 55.0318C82.8227 54.3647 81.4256 53.5476 80.423 52.5303C76.9878 49.0283 78.237 44.0754 83.2008 41.524C95.1664 35.3871 107.165 29.3169 119.163 23.2301C133.381 16.0092 147.598 8.7717 161.832 1.55086C169.13 -2.15128 175.606 1.01722 175.655 8.35479C175.77 25.5147 175.852 42.6746 175.885 59.8346C175.902 66.6552 169.343 70.0071 162.539 66.6885C153.86 62.4694 145.199 58.2336 136.602 53.8978C132.493 51.8299 131.31 47.5441 133.644 44.0754C135.863 40.7735 140.563 39.5228 144.525 41.2071C146.283 41.9576 147.943 42.8914 149.735 43.5251C153.696 44.9593 157.953 43.0582 158.315 39.3894C158.676 35.7873 158.726 32.0685 158.249 28.4831C157.707 24.5141 153.236 22.7798 149.209 24.781C140.728 29.0334 132.247 33.3025 123.913 37.7551C116.205 41.8742 115.432 51.2296 122.221 56.3992C123.667 57.5165 125.327 58.4671 127.004 59.3009C141.583 66.5051 156.178 73.6759 170.79 80.8634C174.915 82.8979 176.789 86.1998 175.704 89.4183C174.077 94.3045 168.423 96.3723 163.163 93.9042C158.479 91.703 153.893 89.3683 149.242 87.1003C140.498 82.8145 131.786 78.5287 123.042 74.2429L123.092 74.1595V74.1929L123.108 74.1762Z' fill='#E0E0E0')


              .about__col 
                
                h2.title 
                  span O 
                  | компании 

                .about__img 
                  img(src="images/dist/about4.webp", alt="") 



            .additional-info.additional-info--without-cols
              
              .additional-info__wrap 
                p Мы предоставляем полный комплекс логистических услуг, включая доставку через пункты приема и выдачи посылок, курьерскую доставку, грузоперевозки, фулфилмент и другие складские услуги на прозрачных и выгодных условиях.
                .additional-info__img 
                  img(src="images/dist/additional-info2.webp", alt="") 
                p Являясь ключевым связующим звеном логистических сервисов экосистемы Alay Express, мы располагаем собственной обширной инфраструктурой последней мили на базе отделений Alay Express, 
                  a(href="#") собственными курьерскими службами
                  |, автопарком и складскими площадями 
                  a(href="#") по всей стране
                  |.
                
            .about__list-blocks
              
              .about__list-item
                .about__list-item-img
                  img(src="images/dist/about5.webp", alt="") 
                .about__list-item-desc 
                  p Единые стандарты качества и клиентского сервиса по всей стране поддерживают круглосуточный контакт-центр и 
                    a(href="#") 82 представительства в крупных российских
                    | городах, которые обеспечивают полный спектр логистических операций от первой до последней мили на своих территориях.

              .about__list-item
                .about__list-item-img
                  img(src="images/dist/about6.webp", alt="") 
                .about__list-item-desc 
                  p История Alay Express началась с вхождения в капитал агрегатора служб доставки — компании 
                    a(href="#") Shiptor 
                    | летом 2019 года. Сегодня Shiptor — часть инфраструктуры Alay Express, специализированный сервис для небольших интернет-магазинов, предлагающий простые решения для быстрой автоматизации логистики через 
                    a(href="#") интеграционные модули
                    | .

              .about__list-item
                .about__list-item-img
                  img(src="images/dist/about7.webp", alt="") 
                .about__list-item-desc 
                  p Вместе с сервисом Shiptor Alay Express — универсальный логистический оператор федерального масштаба, предлагающий уникальные решения для самых разных категорий клиентов. Мы одинаково бережно доставляем посылки и письма как ведущих маркетплейсов, интернет-магазинов, предприятий различных сфер бизнеса, так и частных клиентов, индивидуальных предпринимателей и самозанятых.

            .about__counts 
              .about__counts-wrap 
                .about__counts-item.counter-item.counter-item--active 
                  .counter-item__counter  
                    span >  
                    .counter(data-count="26000") 0 
                  | направлений доставки 

                .about__counts-item.counter-item.counter-item.counter-item--active
                  .counter-item__counter  
                    span >  
                    .counter(data-count="19500") 0 
                  | пунктов приема и выдачи

                .about__counts-item.counter-item.counter-item.counter-item--active
                  .counter-item__counter  
                    .counter(data-count="82") 0 
                  | региональных центра

                .about__counts-item.counter-item.counter-item.counter-item--active
                  .counter-item__counter  
                    .counter(data-count="97") 0 
                    span % 
                  | операционное качество
            

         
     

    include includes/seo-text
    include includes/footer


  include includes/scripts 