extends layouts/main
block title
  | Контакты
block main
  .wrapper
    .content
        include includes/login-popup
        include includes/mmenu
        include includes/header
        
        .contacts
          .container 
            h2.title
              span Обратная 
              | связь
            .contacts__col-wrap 
              .contacts__col-outside 
                .contacts__col-wrap 
                  .contacts__col-inside 
                    div
                      h3 Форма обратной связи
                        .icon 
                          svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M22.6665 16H3.99984' stroke='#222222' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                            path(d='M28.9762 15.7856L23.8784 12.727C23.3452 12.407 22.6668 12.7911 22.6668 13.413V18.587C22.6668 19.2089 23.3452 19.593 23.8784 19.273L28.9762 16.2144C29.138 16.1173 29.138 15.8827 28.9762 15.7856Z' fill='#222222')
                      p Мы искренне благодарны вам за вопросы, отзывы и предложения. Ваше сообщение будет направлено в отдел по работе 
                        | с клиентами, и мы обязательно ответим вам в самое ближайшее время.   


                      
                    .social  
                      p
                        b Присоединяйтесь
                      ul 
                        li 
                          a(href="#")
                            svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              rect(width='32' height='32' rx='16' fill='#009688')
                              path(d='M12.6677 16C12.6677 14.1591 14.1596 12.6664 16.0005 12.6664C17.8414 12.6664 19.3341 14.1591 19.3341 16C19.3341 17.8409 17.8414 19.3336 16.0005 19.3336C14.1596 19.3336 12.6677 17.8409 12.6677 16ZM10.8656 16C10.8656 18.836 13.1645 21.1349 16.0005 21.1349C18.8365 21.1349 21.1354 18.836 21.1354 16C21.1354 13.164 18.8365 10.8651 16.0005 10.8651C13.1645 10.8651 10.8656 13.164 10.8656 16ZM20.1386 10.6615C20.1386 10.8989 20.2088 11.1309 20.3406 11.3283C20.4724 11.5257 20.6597 11.6796 20.879 11.7705C21.0982 11.8614 21.3395 11.8852 21.5723 11.839C21.8051 11.7928 22.0189 11.6786 22.1868 11.5109C22.3547 11.3431 22.4691 11.1293 22.5155 10.8966C22.5619 10.6638 22.5382 10.4225 22.4475 10.2032C22.3567 9.98392 22.203 9.79644 22.0057 9.6645C21.8084 9.53257 21.5765 9.4621 21.3391 9.462H21.3386C21.0205 9.46215 20.7155 9.58856 20.4905 9.81347C20.2655 10.0384 20.1389 10.3434 20.1386 10.6615ZM11.9605 24.1398C10.9855 24.0954 10.4556 23.933 10.1034 23.7958C9.63657 23.614 9.30345 23.3975 8.95321 23.0478C8.60297 22.698 8.38617 22.3652 8.20521 21.8983C8.06793 21.5463 7.90553 21.0162 7.86121 20.0413C7.81273 18.9872 7.80305 18.6706 7.80305 16.0001C7.80305 13.3296 7.81353 13.0138 7.86121 11.9589C7.90561 10.9839 8.06921 10.4549 8.20521 10.1018C8.38697 9.63496 8.60345 9.30184 8.95321 8.9516C9.30297 8.60136 9.63577 8.38456 10.1034 8.2036C10.4554 8.06632 10.9855 7.90392 11.9605 7.8596C13.0146 7.81112 13.3312 7.80144 16.0005 7.80144C18.6698 7.80144 18.9867 7.81192 20.0417 7.8596C21.0166 7.904 21.5457 8.0676 21.8987 8.2036C22.3656 8.38456 22.6987 8.60184 23.049 8.9516C23.3992 9.30136 23.6152 9.63496 23.797 10.1018C23.9342 10.4538 24.0966 10.9839 24.141 11.9589C24.1894 13.0138 24.1991 13.3296 24.1991 16.0001C24.1991 18.6706 24.1894 18.9863 24.141 20.0413C24.0966 21.0162 23.9334 21.5462 23.797 21.8983C23.6152 22.3652 23.3987 22.6983 23.049 23.0478C22.6992 23.3972 22.3656 23.614 21.8987 23.7958C21.5467 23.933 21.0166 24.0954 20.0417 24.1398C18.9876 24.1882 18.671 24.1979 16.0005 24.1979C13.33 24.1979 13.0142 24.1882 11.9605 24.1398ZM11.8777 6.06056C10.8131 6.10904 10.0857 6.27784 9.45041 6.52504C8.79249 6.78032 8.23553 7.1228 7.67897 7.67848C7.12241 8.23416 6.78081 8.792 6.52553 9.44992C6.27833 10.0856 6.10953 10.8126 6.06105 11.8772C6.01177 12.9434 6.00049 13.2843 6.00049 16C6.00049 18.7157 6.01177 19.0566 6.06105 20.1228C6.10953 21.1874 6.27833 21.9144 6.52553 22.5501C6.78081 23.2076 7.12249 23.7661 7.67897 24.3215C8.23545 24.877 8.79249 25.219 9.45041 25.475C10.0869 25.7222 10.8131 25.891 11.8777 25.9394C12.9445 25.9879 13.2848 26 16.0005 26C18.7162 26 19.057 25.9887 20.1233 25.9394C21.1879 25.891 21.9149 25.7222 22.5506 25.475C23.2081 25.219 23.7654 24.8772 24.322 24.3215C24.8786 23.7658 25.2194 23.2076 25.4754 22.5501C25.7226 21.9144 25.8922 21.1874 25.9399 20.1228C25.9884 19.0558 25.9997 18.7157 25.9997 16C25.9997 13.2843 25.9884 12.9434 25.9399 11.8772C25.8914 10.8126 25.7226 10.0852 25.4754 9.44992C25.2194 8.7924 24.8777 8.23504 24.322 7.67848C23.7663 7.12192 23.2081 6.78032 22.5514 6.52504C21.9149 6.27784 21.1878 6.10824 20.1241 6.06056C19.0578 6.01208 18.717 6 16.0013 6C13.2856 6 12.9445 6.01128 11.8777 6.06056Z' fill='white')

                        li 
                          a(href="#")
                            svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              rect(width='32' height='32' rx='16' fill='#009688')
                              path(d='M17.0685 26.6666V16.9354H20.3348L20.8239 13.143H17.0685V10.7217C17.0685 9.62375 17.3734 8.87543 18.948 8.87543L20.9562 8.87451V5.48265C20.6088 5.4366 19.4167 5.33337 18.0299 5.33337C15.1345 5.33337 13.1523 7.10064 13.1523 10.3463V13.1432H9.87744V16.9355H13.1522V26.6667L17.0685 26.6666Z' fill='white')

                        li 
                          a(href="#")
                            svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              rect(width='32' height='32' rx='16' fill='#009688')
                              path(fill-rule='evenodd' clip-rule='evenodd' d='M26.1774 11.023C26.3257 10.5286 26.1774 10.1652 25.4715 10.1652H23.1377C22.5442 10.1652 22.2708 10.4791 22.1224 10.8253C22.1224 10.8253 20.9355 13.7182 19.2541 15.5973C18.7101 16.1412 18.4629 16.3141 18.1662 16.3141C18.0178 16.3141 17.8031 16.1412 17.8031 15.6468V11.023C17.8031 10.4296 17.6309 10.1652 17.1363 10.1652H13.4687C13.098 10.1652 12.8749 10.4406 12.8749 10.7016C12.8749 11.2643 13.7155 11.3939 13.8021 12.9763V16.4133C13.8021 17.1668 13.6661 17.3035 13.3694 17.3035C12.5782 17.3035 10.6537 14.3975 9.51214 11.0725C9.28842 10.4262 9.06403 10.1652 8.46756 10.1652H6.13368C5.46686 10.1652 5.3335 10.4791 5.3335 10.8253C5.3335 11.4435 6.12485 14.5095 9.01769 18.5645C10.9465 21.3334 13.6634 22.8348 16.136 22.8348C17.6197 22.8348 17.8031 22.5014 17.8031 21.9271V19.8341C17.8031 19.1673 17.9436 19.0342 18.4132 19.0342C18.7596 19.0342 19.3529 19.2073 20.7378 20.5424C22.3201 22.1246 22.5809 22.8348 23.4711 22.8348H25.8049C26.4718 22.8348 26.8052 22.5014 26.6128 21.8434C26.4024 21.1876 25.6469 20.2363 24.6443 19.1084C24.1004 18.4654 23.2844 17.7731 23.0373 17.427C22.691 16.9819 22.7899 16.7842 23.0373 16.3888C23.0373 16.3888 25.8806 12.3832 26.1774 11.0232V11.023Z' fill='white')

                        li 
                          a(href="#")
                            svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              rect(width='32' height='32' rx='16' fill='#009688')
                              path(d='M19.9447 5.33337H16.7123C13.536 5.33337 10.8424 7.75097 10.8424 12.4448C10.8424 15.2606 12.1469 17.3367 14.4718 18.3609L10.1335 26.2117C9.99153 26.4681 10.1335 26.6667 10.3602 26.6667H12.3735C12.5436 26.6667 12.6575 26.6101 12.7141 26.4681L16.6555 18.7593H18.0733V26.4681C18.0733 26.5528 18.158 26.6667 18.2715 26.6667H20.0298C20.1999 26.6667 20.2566 26.5815 20.2566 26.44V5.61775C20.2567 5.41863 20.1434 5.33337 19.9447 5.33337ZM18.0732 16.939H16.8823C15.011 16.939 13.1964 15.5736 13.1964 12.1603C13.1964 8.6042 14.8976 7.1537 16.6269 7.1537H18.0733V16.939H18.0732Z' fill='white')

                        li 
                          a(href="#")
                            svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              rect(width='32' height='32' rx='16' fill='#009688')
                              path(d='M23.8415 12.5416C23.8415 12.7166 23.8415 12.8916 23.8415 13.0416C23.8415 18.2166 19.8915 24.1916 12.6915 24.1916C10.4665 24.1916 8.4165 23.5416 6.6665 22.4416C6.9665 22.4666 7.2915 22.4916 7.5915 22.4916C9.4165 22.4916 11.1165 21.8666 12.4665 20.8166C10.7415 20.7916 9.2915 19.6416 8.8165 18.0916C9.0665 18.1416 9.2915 18.1666 9.5665 18.1666C9.9165 18.1666 10.2665 18.1166 10.5915 18.0166C8.7915 17.6666 7.4415 16.0916 7.4415 14.1916C7.4415 14.1666 7.4415 14.1666 7.4415 14.1416C7.9665 14.4416 8.5665 14.6166 9.2165 14.6416C8.1665 13.9416 7.4665 12.7416 7.4665 11.3666C7.4665 10.6416 7.6665 9.96663 7.9915 9.39163C9.9165 11.7666 12.8165 13.3166 16.0665 13.4916C15.9915 13.2166 15.9665 12.8916 15.9665 12.5916C15.9665 10.4166 17.7165 8.66663 19.8915 8.66663C21.0165 8.66663 22.0415 9.14163 22.7415 9.89163C23.6415 9.71663 24.4665 9.39163 25.2415 8.94163C24.9415 9.86663 24.3165 10.6166 23.5165 11.1166C24.3165 11.0166 25.0665 10.8166 25.7665 10.4916C25.2665 11.2916 24.6165 11.9916 23.8415 12.5416Z' fill='white')

                  .contacts__col-inside
                    form(action="")
                      .contacts__form
                        div
                          .contacts__input
                            .input
                              input#name(type='text' name="name" placeholder="имя*" require)
                          
                          .contacts__input
                            .input
                              input#email(type='text' placeholder="email*" require)
                          
                          .contacts__input
                            .input
                              input#phone(type='text' placeholder="телефон*" require)

                          .contacts__input
                            .input
                              input#message(type='text' placeholder="сообщение*" require)
                          
                        .contacts__agree-wrap

                          button.contacts__button(type="submit") Отправить
                          
                          .contacts__agree
                            .ckeckbox
                              input(type="checkbox")#agree
                              span
                                svg(width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                                  rect(x='0.5' y='0.5' width='20' height='20' rx='4' fill='#009688')
                                  path(d='M5.5 11.6905C5.5 11.6905 6.75 11.6905 8 14.0714C8 14.0714 11.9706 8.11907 15.5 6.92859' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')

                            label(for="agree") Я ознакомлен с политикой конфиденциальности и даю согласие на обработку моих персональных данных     

                  .contacts__col-inside
                    h2.title.title--h3 Где мы находимся
                    p Кутузовский проспект, д. 2/1, строение 6, Конгресс-парк, гост. Украина
                      | Этаж - 3
                 
                  .contacts__col-inside
                    #map  

              .contacts__col-outside
                .contacts__contacts
                  .contacts__contacts-item
                    p Контакты

                    ul 
                      li 
                        a(href="mailto:info@alayexpress.com") info@alayexpress.com

                      li 
                        a(href="tel:+79994065733") +7 (999) 406-57-33      

                  .contacts__contacts-item
                    p Часы работы
                      ul 
                        li Без выходных
                        li 09:00-22:00

                  .contacts__contacts-item
                    p Мы в мессенджерах

                    .social  
                      ul 
                        li 
                          a(href="#")
                            svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              rect(width='32' height='32' rx='16' fill='#419FD9')
                              rect(width='32' height='32' rx='16' fill='url(#paint0_linear_140_555)')
                              path(d='M7.19158 15.6472C11.8444 13.5774 14.9471 12.2129 16.4995 11.5536C20.932 9.67126 21.853 9.34427 22.4533 9.33336C22.5853 9.3311 22.8806 9.36451 23.0718 9.52294C23.2333 9.65671 23.2777 9.83742 23.2989 9.96426C23.3202 10.0911 23.3467 10.38 23.3256 10.6058C23.0854 13.1826 22.0461 19.4358 21.5174 22.3219C21.2936 23.5431 20.8531 23.9526 20.4266 23.9927C19.4997 24.0797 18.7959 23.3672 17.8982 22.7664C16.4934 21.8262 15.6998 21.2409 14.3363 20.3235C12.7605 19.2632 13.782 18.6805 14.6801 17.7281C14.9151 17.4789 18.9989 13.6863 19.0779 13.3422C19.0878 13.2992 19.097 13.1388 19.0037 13.0541C18.9103 12.9694 18.7726 12.9984 18.6732 13.0214C18.5323 13.0541 16.2882 14.5685 11.9409 17.5648C11.3039 18.0114 10.7269 18.2289 10.21 18.2175C9.64013 18.205 8.54391 17.8886 7.72898 17.6181C6.72944 17.2863 5.93502 17.111 6.0042 16.5476C6.04023 16.2541 6.43602 15.954 7.19158 15.6472Z' fill='white')
                              defs
                                lineargradient#paint0_linear_140_555(x1='16' y1='0' x2='16' y2='31.7626' gradientUnits='userSpaceOnUse')
                                  stop(stop-color='#2AABEE')
                                  stop(offset='1' stop-color='#229ED9')


                        li 
                          a(href="#")
                            svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              rect(width='32' height='32' rx='16' fill='#0DC143')
                              path(d='M23.1671 8.80758C21.4518 7.04181 19.0806 6.08325 16.659 6.08325C11.5131 6.08325 7.37613 10.2706 7.42658 15.3661C7.42658 16.9805 7.88064 18.5445 8.6374 19.9571L7.32568 24.7499L12.2194 23.4887C13.5815 24.2454 15.0951 24.5986 16.6086 24.5986C21.7041 24.5986 25.841 20.4112 25.841 15.3157C25.841 12.8436 24.8824 10.5229 23.1671 8.80758ZM16.659 23.0346C15.2969 23.0346 13.9347 22.6814 12.7743 21.9751L12.4716 21.8238L9.5455 22.5805L10.3023 19.7049L10.1005 19.4022C7.88064 15.8202 8.9401 11.0778 12.5725 8.85803C16.205 6.63821 20.8969 7.69767 23.1167 11.3301C25.3365 14.9625 24.277 19.6544 20.6446 21.8742C19.4842 22.631 18.0716 23.0346 16.659 23.0346ZM21.0987 17.4346L20.5437 17.1824C20.5437 17.1824 19.7365 16.8292 19.232 16.5769C19.1815 16.5769 19.1311 16.5265 19.0806 16.5265C18.9293 16.5265 18.8284 16.5769 18.7275 16.6274C18.7275 16.6274 18.677 16.6778 17.9707 17.4851C17.9203 17.586 17.8194 17.6364 17.7185 17.6364H17.668C17.6176 17.6364 17.5167 17.586 17.4662 17.5355L17.214 17.4346C16.659 17.1824 16.1545 16.8796 15.7509 16.476C15.65 16.3751 15.4987 16.2742 15.3978 16.1733C15.0446 15.8202 14.6914 15.4166 14.4392 14.9625L14.3887 14.8616C14.3383 14.8112 14.3383 14.7607 14.2878 14.6598C14.2878 14.5589 14.2878 14.458 14.3383 14.4076C14.3383 14.4076 14.5401 14.1553 14.6914 14.004C14.7924 13.9031 14.8428 13.7517 14.9437 13.6508C15.0446 13.4995 15.0951 13.2977 15.0446 13.1463C14.9942 12.8941 14.3887 11.5319 14.2374 11.2292C14.1365 11.0778 14.0356 11.0274 13.8842 10.9769H13.7329C13.632 10.9769 13.4806 10.9769 13.3293 10.9769C13.2284 10.9769 13.1275 11.0274 13.0266 11.0274L12.9761 11.0778C12.8752 11.1283 12.7743 11.2292 12.6734 11.2796C12.5725 11.3805 12.5221 11.4815 12.4212 11.5824C12.068 12.0364 11.8662 12.5914 11.8662 13.1463C11.8662 13.5499 11.9671 13.9535 12.1185 14.3067L12.1689 14.458C12.623 15.4166 13.2284 16.2742 14.0356 17.031L14.2374 17.2328C14.3887 17.3842 14.5401 17.4851 14.641 17.6364C15.7005 18.5445 16.9113 19.2004 18.2734 19.5535C18.4248 19.604 18.6266 19.604 18.7779 19.6544C18.9293 19.6544 19.1311 19.6544 19.2824 19.6544C19.5347 19.6544 19.8374 19.5535 20.0392 19.4526C20.1905 19.3517 20.2914 19.3517 20.3924 19.2508L20.4933 19.1499C20.5942 19.049 20.6951 18.9986 20.796 18.8977C20.8969 18.7968 20.9978 18.6959 21.0482 18.595C21.1491 18.3932 21.1996 18.1409 21.25 17.8887C21.25 17.7878 21.25 17.6364 21.25 17.5355C21.25 17.5355 21.1996 17.4851 21.0987 17.4346Z' fill='white')


                        li 
                          a(href="#")
                            svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              rect(width='32' height='32' rx='16' fill='#675DA9')
                              path(d='M23.8357 8.12311C23.3064 7.63653 21.1638 6.07863 16.3876 6.05729C16.3876 6.05729 10.7578 5.71583 8.01335 8.23408C6.48532 9.76211 5.94753 11.9944 5.89204 14.7687C5.83655 17.5388 5.76399 22.7333 10.7706 24.1418H10.7749L10.7706 26.2887C10.7706 26.2887 10.7407 27.1594 11.3127 27.3344C12.0041 27.5478 12.4139 26.8862 13.0755 26.1734C13.4383 25.7808 13.9376 25.2088 14.3175 24.7692C17.7406 25.0552 20.3741 24.3979 20.6729 24.2997C21.3644 24.0735 25.2783 23.5741 25.9143 18.3797C26.5716 13.0358 25.5942 9.65114 23.8357 8.12311ZM24.4161 18.0041C23.8784 22.3406 20.7071 22.6137 20.1223 22.8015C19.8748 22.8826 17.5614 23.4589 14.6504 23.2668C14.6504 23.2668 12.4822 25.8832 11.8078 26.5619C11.7011 26.6686 11.5773 26.7112 11.4962 26.6899C11.381 26.66 11.3468 26.5234 11.3511 26.3228C11.3511 26.0326 11.3682 22.7503 11.3682 22.7503C11.3639 22.7503 11.3639 22.7503 11.3682 22.7503C7.12982 21.5766 7.37738 17.1547 7.42433 14.8413C7.47128 12.5279 7.90664 10.6286 9.19991 9.35236C11.5176 7.25239 16.3022 7.56397 16.3022 7.56397C20.34 7.58105 22.2735 8.79749 22.7217 9.20297C24.2113 10.4834 24.971 13.5352 24.4161 18.0041Z' fill='white')
                              path(d='M18.3554 14.9223C18.2145 14.9223 18.095 14.8114 18.0865 14.6662C18.0395 13.7486 17.6085 13.3004 16.7292 13.2534C16.5798 13.2449 16.4646 13.1169 16.4731 12.9675C16.4816 12.8181 16.6097 12.7028 16.7591 12.7114C17.92 12.7754 18.5688 13.4412 18.6286 14.6364C18.6371 14.7857 18.5219 14.9138 18.3725 14.9181C18.3639 14.9223 18.3597 14.9223 18.3554 14.9223Z' fill='white')
                              path(d='M19.7382 15.3835H19.7339C19.5845 15.3792 19.465 15.2555 19.4693 15.1061C19.4906 14.1841 19.226 13.4372 18.6626 12.8226C18.1035 12.208 17.3309 11.875 16.3108 11.8025C16.1614 11.7897 16.0505 11.6616 16.0633 11.5122C16.0761 11.3628 16.2041 11.2519 16.3535 11.2647C17.5059 11.35 18.4151 11.7513 19.0638 12.4598C19.7169 13.1726 20.0327 14.0646 20.0114 15.1189C20.0071 15.2683 19.8833 15.3835 19.7382 15.3835Z' fill='white')
                              path(d='M21.1552 15.9382C21.0059 15.9382 20.8863 15.8187 20.8863 15.6693C20.8735 14.0175 20.3998 12.7584 19.4351 11.8151C18.4833 10.8846 17.2754 10.4108 15.8541 10.398C15.7047 10.398 15.5852 10.2742 15.5852 10.1249C15.5852 9.97547 15.709 9.85596 15.8541 9.85596C17.4205 9.86876 18.7522 10.3938 19.8065 11.4267C20.865 12.4596 21.4071 13.8852 21.4241 15.6607C21.4284 15.8144 21.3089 15.9382 21.1552 15.9382C21.1595 15.9382 21.1595 15.9382 21.1552 15.9382Z' fill='white')
                              path(d='M16.793 18.2643C16.793 18.2643 17.1729 18.2984 17.3778 18.0466L17.7747 17.5472C17.9668 17.2997 18.432 17.1418 18.8845 17.3936C19.1363 17.5344 19.593 17.8161 19.8747 18.0253C20.1777 18.2472 20.7924 18.7594 20.7966 18.7637C21.0911 19.0112 21.1594 19.374 20.9588 19.7624C20.9588 19.7624 20.9588 19.7667 20.9588 19.771C20.7539 20.1338 20.4765 20.4752 20.1308 20.7911C20.1265 20.7911 20.1265 20.7954 20.1223 20.7954C19.8363 21.0344 19.5546 21.171 19.2814 21.2008C19.2473 21.2094 19.2088 21.2094 19.1576 21.2094C19.0381 21.2094 18.9186 21.1923 18.7991 21.1539L18.7906 21.1411C18.3637 21.0216 17.6552 20.7228 16.4772 20.0698C15.7089 19.6472 15.0729 19.2161 14.5309 18.785C14.2449 18.5588 13.9547 18.307 13.6559 18.0082C13.6473 17.9997 13.6345 17.9869 13.626 17.9783C13.6175 17.9698 13.6047 17.957 13.5961 17.9484C13.5876 17.9399 13.5748 17.9271 13.5663 17.9186C13.5577 17.91 13.5449 17.8972 13.5364 17.8887C13.2419 17.5899 12.9858 17.2997 12.7596 17.0137C12.3285 16.4759 11.8974 15.8357 11.4748 15.0674C10.8218 13.8851 10.523 13.1766 10.4035 12.754L10.3907 12.7455C10.3523 12.626 10.3352 12.5065 10.3352 12.3869C10.3352 12.3357 10.3352 12.2973 10.3437 12.2632C10.3779 11.9857 10.5145 11.7083 10.7492 11.4223C10.7492 11.4181 10.7535 11.4181 10.7535 11.4138C11.0693 11.0638 11.4108 10.7906 11.7736 10.5858C11.7736 10.5858 11.7779 10.5858 11.7821 10.5858C12.1663 10.3851 12.5291 10.4534 12.7809 10.7479C12.7809 10.7479 13.2974 11.3668 13.5193 11.6699C13.7284 11.9559 14.0101 12.4083 14.151 12.6601C14.4028 13.1125 14.2449 13.5778 13.9973 13.7699L13.498 14.1668C13.2461 14.3717 13.2803 14.7515 13.2803 14.7515C13.2803 14.7515 14.0187 17.56 16.793 18.2643Z' fill='white')

                        li 
                          a(href="#")
                            svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
                              rect(width='32' height='32' rx='16' fill='#D93025')
                              path(opacity='0.3' d='M24.9995 8.66748H7.00073L7.6674 23.1665H24.3328L24.9995 8.66748Z' fill='white')
                              path(opacity='0.3' d='M24.9995 8.66748H7.00073L15.2916 14.8543H16.8333L24.9995 8.66748Z' fill='white')
                              path(opacity='0.1' d='M8.5 23.1667L16 16.4167L23.5 23.1667H8.5Z' fill='white')
                              path(fill-rule='evenodd' clip-rule='evenodd' d='M8.5008 9.91764C8.5008 9.22769 7.94184 8.66772 7.25089 8.66772C6.56094 8.66772 6.00098 9.22769 6.00098 9.91764C6.00098 12.5794 6.00098 18.798 6.00098 21.6668C6.00098 22.4958 6.67293 23.1667 7.50087 23.1667C8.03283 23.1667 8.5008 23.1667 8.5008 23.1667C8.5008 23.1667 8.5008 13.4364 8.5008 9.91764Z' fill='white')
                              path(fill-rule='evenodd' clip-rule='evenodd' d='M23.4995 9.91739C23.4995 9.22744 24.0595 8.66748 24.7494 8.66748C24.7504 8.66748 24.7514 8.66748 24.7514 8.66748C25.4414 8.66748 25.9993 9.22644 25.9993 9.91539C25.9993 12.5762 25.9993 18.7968 25.9993 21.6666C25.9993 22.4955 25.3284 23.1665 24.4994 23.1665C23.9685 23.1665 23.4995 23.1665 23.4995 23.1665C23.4995 23.1665 23.4995 13.4361 23.4995 9.91739Z' fill='white')
                              path(fill-rule='evenodd' clip-rule='evenodd' d='M6.62466 10.9993C6.33768 10.8333 6.12869 10.5613 6.0427 10.2413C5.95671 9.92136 6.0017 9.58139 6.16769 9.29441C6.16769 9.29441 6.16869 9.29341 6.16869 9.29241C6.33468 9.00543 6.60766 8.79644 6.92764 8.71045C7.24762 8.62446 7.58859 8.66945 7.87557 8.83544L16 13.5261L24.1264 8.83444C24.4134 8.66845 24.7534 8.62346 25.0734 8.70945C25.3933 8.79544 25.6653 9.00443 25.8313 9.29141L25.8323 9.29241C25.9983 9.57939 26.0433 9.92136 25.9573 10.2413C25.8713 10.5613 25.6613 10.8343 25.3743 11.0003L18.4998 14.969L16 16.4129L13.5002 14.969L6.62466 10.9993Z' fill='white')
    


    include includes/seo-text
    include includes/footer


  include includes/scripts
  script(src='https://maps.api.2gis.ru/2.0/loader.js?pkg=full')
  script(type='text/javascript').
    var map;
    DG.then(function () {
    map = DG.map('map', {
    center: [42.492048, 78.417642],
    scrollWheelZoom: false,
    zoom: 17
    });
    var myIcon = L.icon({
    iconUrl: 'images/dist/map-marker.svg',
    iconSize: [40, 53],
    });
    DG.marker([42.492280, 78.417672], {
    icon: myIcon
    }).addTo(map).bindPopup(
    'Логистическая компания <strong>"AlayExpress"</strong> <br />г.Бишкек Кутузовский проспект, д. 2/1, строение 6, Конгресс-парк, гост. УкраинаЭтаж - 3').bindLabel(
    'Логистическая компания <strong>"AlayExpress"</strong> <br />г.Бишкек Кутузовский проспект, д. 2/1, строение 6, Конгресс-парк, гост. УкраинаЭтаж - 3');
    });