extends layouts/main
block title
  | Главная
block main
  .wrapper
    .content
        include includes/login-popup
        include includes/mmenu
        include includes/header

        include includes/hero
        include includes/calculator
        include includes/about-block
        include includes/info-block
        include includes/services
        include includes/delivery-kind

        
         
     

    include includes/seo-text
    include includes/footer

  include includes/scripts

  


  
  